version: "3.8"
services:
  postgres:
    image: postgres:15-alpine
    container_name: nutriguide_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nutriguide
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: nutriguide_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
